
.headerContainer {
    background: rgb(2, 192, 2);
    width: 100%;
    z-index: 9;
    top: 0px;
    
    > .item {
      padding: 15px;
      color: white;
      cursor: default;
      display: inline-block;
    }
  }
  
  .branding {
    border-top: none !important;
    border-rignt: none !important;
  }

  .span-icon {
      font-size: 28pt;
  }